.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Home */
.home-page .landing-page-1 {
  height: 800px;
}

.home-page .img-promotion {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-right: 100px;
}

.home-page .title-home-page {
  margin-top: 250px;
}

.home-page .rectangle {
  display: inline-block;
  width: 25px;
  height: 100px;
  background: #efc81a;
}

.home-page .swiper {
  width: 100%;
  height: 100%;
}

.home-page .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  border-radius: 8px;
}

.home-page .swiper-slide img {
  /* display: block; */
  /* width: 100%; */
  height: 400px;
  object-fit: fill;
  border-radius: 8px;

  border-radius: 8px;
  box-shadow: 1px 1px 5px grey;
}

.home-page .swiper-text {
  margin-top: 100px;
}

/* sign-up */
.sign-up-page .bg-picture {
  width: 100%;
  /* max-height: 90%; */
  object-fit: cover;
}

.sign-up-page .icon-picture {
  margin-top: 324px;
  margin-left: -416px;
  position: absolute;
}

.sign-up-page .form-sign-up {
  margin-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

/* sign-in */
.sign-in-page .bg-picture {
  width: 100%;
  /* max-height: 90%; */
  object-fit: cover;
}

.sign-in-page .icon-picture {
  margin-top: 324px;
  margin-left: -416px;
  position: absolute;
}

.sign-in-page .form-sign-in {
  margin-top: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

/*  Page not Found */
.page-not-found {
  margin-top: 200px;
  margin-bottom: 200px;
}

.page-not-found .text-not-found {
  /* margin-top: 500px; */
  color: #EFC81A !important;
  font-size: 40px;
}

/* footer */
.footer-global {
  height: 300px;
  background: #EFC81A;
}

